* {
  padding: 0px;
  background: #DDD0C8;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
 
}

.top {
  position: sticky;
  top: 0;
  z-index: 100; /* You may need to adjust this depending on your layout */
  /* rest of your styles */
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

header {
  height: 250px;
}

.top ul {
  list-style: none;
  font-size: 25px;
}

.top li {
  display: inline-block;
}

.top a {
  padding-top: 10px;
  text-decoration: none;
  color: #000;
  width: 100px;
  padding: 23px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 25px;
}
#primary li a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-family: 'Open Sans';
  font-size: 26px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #4cdb88, #20ad77 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;  /* Top/bottom padding of 10px, left/right padding of 20px */

  /* Or adjust width */
  width: 150px;
}

#primary li a:before {
  display: block;
  content: '';
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: hsl(157, 69%, 40%);
  transition: all 0.3s ease-in-out;
}

#primary li a:hover {
  background-position: 0%;
}

#primary li a:hover:before {
  width: 100%;
}

.Intro {
  padding: 5%;
  color: black;
  margin: 20px;
  text-align: left;
  border-radius: 10px;
  margin-top: 70px;
  width: ;
}

/*Intro section*/
.Intro h1 {
  font-size: 80px;
  padding-bottom: 10px;
  transform: translateY(-110px);
  width: 100%;
}

.Intro p {
  font-size: 2em;  /* adjust as needed */
  color: gray;
  width: 90%;  /* adjust as needed */
  transform: translateY(-5em);  /* adjust as needed */
  padding-left: 1em;  /* adjust as needed */
}


.profile {
  display: flex;
  align-items: center;
  position: relative;

}

.profile img {
  margin-left: 20%;
}

.pfp {
  width: 400px;
  height: 400px;
  clip-path: circle();
  transform: translateY(-100px);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 44%;
  left: 60px;
  transform: translateY(10px);
  padding-left: 50px;
}

.buttons a {
  color: white;
  background-color: hsl(157, 69%, 40%);
  border-bottom: 2px solid hsl(157, 69%, 40%);
  margin: 5px;
  padding: 10px 10px;
  font-size: 25px;
  width: 150px;
  text-align: center;
}



/*Bio section*/
.Hero {
  padding: 4%;
  margin-top: 6%;
  border-bottom: 2px solid hsl(157, 69%, 40%);
  border-top: 2px solid hsl(157, 69%, 40%);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C9B9B2;
  line-height: 2; 
}

.Hero h2 {
  font-size: 60px; 
  background-color: #C9B9B2;
}

.Hero p {
  font-size: 24px; 
  background-color: #C9B9B2;
  text-align: center;
}


/*Project section*/
.Projects {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Projects h2 {
  font-size: 50px;
  text-align: center;
  padding: 3%;
}

.ducks {
  width: 60vh;
  max-width: 60vh;
}

.osaka,
.room1 {
  width: 60vh;
  height: 340px;
  margin: 0vh;
  align-items: stretch;
  position: relative;
}

.container {
  position: relative;
}

.view-project-button {
  display: inline-block;
  padding: 10px 20px;
  color: #FFF;
  background-color: hsl(157, 69%, 40%);
  text-decoration: none;
  border-radius: 25px;
  border: none;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: hsl(157, 69%, 40%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
}

/*Contact section*/
.Contact {
  display: inline-block;
  align-items: center;
  margin: 100px;
  padding: 4%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
}

.Contact h2 {
  margin: auto;
  width: 50%;
  padding-bottom: 40%;
  font-size: 50px;
  padding-bottom: 20px;
}

.Contact p {
  margin: auto;
  width: fit-content;
  font-size: 30px;
  display: block;
}

.Contact a {
  background-color: hsl(157, 69%, 40%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  font-size: 25px;
}

.return {
  background-color: hsl(157, 69%, 40%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.buttons-container {
  display: flex;
  justify-content: center;
}

/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
  /* Adjustments for the top navigation */
  .top {
    padding: 10px;
  }
  
  .top ul {
    font-size: 20px;
  }
  
  .top a {
    width: 80px;
    padding: 15px;
  }
  
  /* Adjustments for the introduction section */
  .Intro {
    padding: 2%;
    margin: 10px;
    margin-top: 50px;
  }
  
  .Intro h1 {
    font-size: 40px;
    transform: translateY(-80px);
  }
  
  .Intro p {
    font-size: 1.5em;
    transform: translateY(-3em);
    padding-left: 0.5em;
  }
  
  /* Adjustments for the profile section */
  .profile {
    flex-direction: column;
    align-items: center;
  }
  
  .profile img {
    margin-left: 0;
    margin-bottom: 20px;
  }
  
  .pfp {
    width: 300px;
    height: 300px;
    transform: translateY(-80px);
  }
  
  .buttons {
    top: 40%;
    left: 30px;
    transform: translateY(0px);
    padding-left: 0;
  }
  
  .buttons a {
    font-size: 20px;
    width: 120px;
  }
  
  /* Adjustments for the hero section */
  .Hero {
    margin-top: 10%;
  }
  
  .Hero h2 {
    font-size: 40px;
  }
  
  .Hero p {
    font-size: 20px;
  }
  
  /* Adjustments for the projects section */
  .Projects h2 {
    font-size: 40px;
    padding: 2%;
  }
  
  .ducks {
    width: 80vh;
    max-width: 80vh;
  }
  
  .osaka,
  .room1 {
    width: 80vh;
    height: 240px;
  }
  
  /* Adjustments for the contact section */
  .Contact {
    margin: 50px;
    padding: 2%;
  }
  
  .Contact h2 {
    width: 80%;
    padding-bottom: 30px;
    font-size: 40px;
  }
  
  .Contact p {
    width: 90%;
    font-size: 20px;
  }
  
  .Contact a {
    padding: 10px 20px;
    font-size: 20px;
  }
  
  .return {
    padding: 10px 20px;
    font-size: 20px;
  }
  
  .buttons-container {
    flex-direction: column;
    align-items: center;
  }
}
