* {
  padding: 0px;
  background: #DDD0C8;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
 
}

.top {
  position: sticky;
  top: 0;
  z-index: 100; /* You may need to adjust this depending on your layout */
  /* rest of your styles */
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

header {
  height: 250px;
}

.top ul {
  list-style: none;
  font-size: 25px;
}

.top li {
  display: inline-block;
}

.top a {
  padding-top: 10px;
  text-decoration: none;
  color: #000;
  width: 100px;
  padding: 23px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 25px;
}
#primary li a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-family: 'Open Sans';
  font-size: 26px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #4cdb88, #20ad77 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;  /* Top/bottom padding of 10px, left/right padding of 20px */

  /* Or adjust width */
  width: 150px;
}

#primary li a:before {
  display: block;
  content: '';
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: hsl(157, 69%, 40%);
  transition: all 0.3s ease-in-out;
}

#primary li a:hover {
  background-position: 0%;
}

#primary li a:hover:before {
  width: 100%;
}

.Intro {
  padding: 5%;
  color: black;
  margin: 20px;
  text-align: left;
  border-radius: 10px;
  margin-top: 70px;
  width: ;
}

/*Intro section*/
.Intro h1 {
  font-size: 80px;
  padding-bottom: 10px;
  transform: translateY(-110px);
  width: 100%;
}

.Intro p {
  font-size: 37px;
  color: gray;
  width: 400px;
  transform: translateY(-390px);
  padding-left: 10px;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;

}

.profile img {
  margin-left: 20%;
}

.pfp {
  width: 400px;
  height: 400px;
  clip-path: circle();
  transform: translateY(-100px);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 44%;
  left: 60px;
  transform: translateY(10px);
  padding-left: 50px;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  width: 150px;
}



/*Bio section*/
.Hero {
  padding: 4%;
  margin-top: 13%;
  border-bottom: 2px solid hsl(157, 69%, 40%);
  border-top: 2px solid hsl(157, 69%, 40%);
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C9B9B2;
  line-height: 2; /* Increase line spacing */
}

.Hero h2 {
  font-size: 60px; /* Increase font size */
  padding-bottom: 20px;
  background-color: #C9B9B2;
}

.Hero p {
  font-size: 24px; /* Increase font size */
  background-color: #C9B9B2;
  text-align: center;
}



/*Project section*/
.Projects {
  padding: 4%;
  margin-top: 10%;
  border-bottom: 2px solid hsl(157, 69%, 40%);
  border-top: 2px solid hsl(157, 69%, 40%);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Projects h2 {
  font-size: 50px;
  text-align: center;
  padding: 3%;
}

.ducks {
  width: 60vh;
  max-width: 60vh;
}

.osaka,
.room1 {
  width: 60vh;
  height: 340px;
  margin: 0vh;
  align-items: stretch;
  position: relative;
}

.container {
  position: relative;
}

.view-project-button {
  display: inline-block;
  padding: 10px 20px;
  color: #FFF;
  background-color: hsl(157, 69%, 40%);
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  background-color: hsl(157, 69%, 40%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
}



/*Contact section*/
.Contact {
  display: inline-block;
  align-items: center;
  margin: 100px;
  padding: 4%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
}

.Contact h2 {
  margin: auto;
  width: 50%;
  padding-bottom: 40%;
  font-size: 50px;
  padding-bottom: 20px;
}

.Contact p {
  margin: auto;
  width: fit-content;
  font-size: 30px;
  display: block;
}

.Contact a {
  background-color: hsl(157, 69%, 40%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media screen and (min-width:320px) {
  .pfp {
    padding: auto;
    margin: auto;
    align-items: auto;
    height: fit-content;
  }
}

@media screen and (min-width: 320px) {
  .ducks {
    width: 60vh;
    max-width: 60vh;
    margin: 0%;
    align-items: center;
    border-radius: 8px;
  }
}

@media screen and (min-width: 320px) {

  .osaka,
  .room1 {
    width: 60vh;
    display: inline-flex;
    margin: 0%;
    height: 340px;
    align-items: stretch;
    border-radius: 8px;

  }

  .container {

    float: left;
    display: inline;
    align-items: center;
    text-align: center;
  }
}


@media screen and (min-width: 320px) {

  .Intro,
  .Hero,
  .top .Contact {
    padding: 3%;
    margin: 1%;
    align-items: center;
  }
}